
.hide{
    display: none;
}
/* whole CV container */
#cvContainer{
    width: 80%;
    margin: 0 auto;
}

/* General Info */ 

#generalInfoContainer{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    
}

#generalInfoRight{
    /* text-align: right; */
}

.generalInfoContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/* need to prevent input labels from stretching out*/
.inputFirstName{

}


/* Education */

.sectionContainer{
    display: flex;
    justify-content: space-between;
}

.sectionRight{
    text-align: right;
}

/* Education Form */

.educationForm{
    display: flex;
    flex-direction: column;

}